.app-logo[data-v-7f0fa9f5] {
  -o-object-fit: contain;
  object-fit: contain;
  display: block;
  transition: all 0.3s ease;
}
.app-logo.rounded[data-v-7f0fa9f5] {
  border-radius: var(--radius-sm);
}
.app-logo.size-sm[data-v-7f0fa9f5] {
  width: 36px;
  height: 36px;
}
.app-logo.size-md[data-v-7f0fa9f5] {
  width: 52px;
  height: 52px;
}
.app-logo.size-lg[data-v-7f0fa9f5] {
  width: 88px;
  height: 88px;
}
.app-logo.size-xl[data-v-7f0fa9f5] {
  width: 120px;
  height: 120px;
}
.app-logo.size-xxl[data-v-7f0fa9f5] {
  width: 168px;
  height: 168px;
}
